<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head th:fragment="head">
		<!--/*@thymesVar id="title" type="java.lang.String"*/-->
		<title th:text="${title}? ${title} + ' - OpenRS2 Archive' : 'OpenRS2 Archive'">OpenRS2 Archive</title>
		<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/css/openrs2.css" />
		<script src="/webjars/jquery/jquery.min.js" defer></script>
		<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js" defer></script>
	</head>
	<body>
		<nav class="navbar navbar-dark navbar-expand bg-dark mb-4" th:fragment="nav">
			<div class="container">
				<a class="navbar-brand" href="/">OpenRS2 Archive</a>
				<ul class="navbar-nav me-auto">
					<!--/*@thymesVar id="active" type="java.lang.String"*/-->
					<li class="nav-item">
						<a class="nav-link" th:classappend="${active == 'caches'}? 'active'" href="/caches">Caches</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:classappend="${active == 'keys'}? 'active'" href="/keys">Keys</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/pub">Other</a>
					</li>
				</ul>
			</div>
		</nav>
		<main class="container">
		</main>
	</body>
</html>
