<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head th:replace="layout.html :: head(title='Cache')">
		<title>Cache - OpenRS2 Archive</title>
		<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/css/openrs2.css" />
	</head>
	<body>
		<nav th:replace="layout.html :: nav"></nav>
		<main class="container">
			<h1>Cache</h1>

			<!--/*@thymesVar id="cache" type="org.openrs2.archive.cache.CacheExporter.Cache"*/-->
			<table class="table table-striped table-bordered table-hover">
				<tr class="thead-dark">
					<th>Game</th>
					<td th:text="${cache.game}">runescape</td>
				</tr>
				<tr class="thead-dark">
					<th>Build(s)</th>
					<td th:text="${#strings.setJoin(cache.builds, ', ')}">550</td>
				</tr>
				<tr class="thead-dark">
					<th>Timestamp</th>
					<td th:text="${#temporals.format(cache.timestamp, 'yyyy-MM-dd HH:mm:ss')}"></td>
				</tr>
				<tr class="thead-dark">
					<th>Name</th>
					<td th:text="${cache.name}"></td>
				</tr>
				<tr class="thead-dark">
					<th>Description</th>
					<td th:text="${cache.description}"></td>
				</tr>
				<tr class="thead-dark">
					<th>Indexes</th>
					<td th:class="${cache.stats}? (${cache.stats.allIndexesValid}? 'table-success' : 'table-danger')"
					    th:text="${cache.stats}? ${cache.stats.validIndexes} + ' / ' + ${cache.stats.indexes} + ' (' + ${#numbers.formatPercent(cache.stats.validIndexesFraction, 1, 2)} + ')' : 'Calculating...'">
						Calculating...
					</td>
				</tr>
				<tr class="thead-dark">
					<th>Groups</th>
					<td th:class="${cache.stats}? (${cache.stats.allGroupsValid}? 'table-success' : 'table-warning')"
					    th:text="${cache.stats}? ${#numbers.formatInteger(cache.stats.validGroups, 1, 'COMMA')} + ' / ' + ${#numbers.formatInteger(cache.stats.groups, 1, 'COMMA')} + ' (' + ${#numbers.formatPercent(cache.stats.validGroupsFraction, 1, 2)} + ')' : 'Calculating...'">
						Calculating...
					</td>
				</tr>
				<tr class="thead-dark">
					<th>Keys</th>
					<td th:class="${cache.stats}? (${cache.stats.allKeysValid}? 'table-success' : 'table-warning')"
					    th:text="${cache.stats}? ${#numbers.formatInteger(cache.stats.validKeys, 1, 'COMMA')} + ' / ' + ${#numbers.formatInteger(cache.stats.keys, 1, 'COMMA')} + ' (' + ${#numbers.formatPercent(cache.stats.validKeysFraction, 1, 2)} + ')' : 'Calculating...'">
						Calculating...
					</td>
				</tr>
				<tr class="thead-dark">
					<th>Download</th>
					<td>
						<div class="btn-group">
							<a th:href="${'/caches/' + cache.id + '.zip'}"
							   class="btn btn-primary btn-sm">Cache</a>
							<a th:href="${'/caches/' + cache.id + '.json'}"
							   class="btn btn-primary btn-sm">Keys</a>
						</div>
					</td>
				</tr>
			</table>
		</main>
	</body>
</html>
